<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array>
				<string>INSendMessageIntent.sendMessage</string>
			</array>
			<key>ParameterVocabulary</key>
			<array>
				<dict>
					<key>VocabularyItemIdentifier</key>
					<string>passdemo.sendMessage</string>
					<key>VocabularyItemSynonyms</key>
					<array>
						<dict>
							<key>VocabularyItemPhrase</key>
							<string>PassDemo</string>
							<key>VocabularyItemPronunciation</key>
							<string>pass demo</string>
							<key>VocabularyItemExamples</key>
							<array>
								<string>Send message using passdemo</string>
								<string>Tell passdemo to send message to ashish</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Send Message to Ashish on PassDemo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
